
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Quicksand:wght@300&display=swap');*/
/* From Public Directory */
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ExtraBold.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;  
  color: #000;
  background: white;
}

div#App {
  display: flex;
  width: 100%;
}

#App.wood {
  background-image: url("/pines.jpg");
  background-position: bottom;
  background-size: cover;
}

a:focus{ border: none; outline: none;} 

.log {
  font-size: 4em;
}

a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.clipped-heading {
  width:100%;
  text-align:center;
  height:auto;
  background:url("/jultre3.jpg");
  background-position-y: bottom;
  background-position-x: left;
  background-size: contain;
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;
  font-weight:bolder;
  font-size: min(15vw,15vh);
  background-size: cover;
  font-family: Montserrat, sans-serif;
  white-space: pre;
}

h1 {
  font-size: 4vw;
}

main {
  max-width: 72vw;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 0;
}

#App {
  /*font-family: sans-serif;*/

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;

  position: relative;
  height: 100%;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: black;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  opacity: 0.8;
  padding: 2.5em 1.5em 0;
  font-size: 2.15em;
  text-align: center;
  line-height: 3;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.75) !important;
}

.wood-hero {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(50%);
  border: #fff 2px solid;
}

#logocontainer {
  margin: auto;
  height: 90%; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.ribbon-1 {
  position: fixed;
  color: white;
  margin: 0em;
  height: 3em;
  line-height: 1.5em;
  text-align: center;
  background: #ff2020;
  box-shadow: 0 0 0 999px #ff2020;
  clip-path: inset(0 -100%);
}
.left {
  inset: 0 auto auto 0;
  transform-origin: 100% 0;
  transform: translate(-29.3%) rotate(-45deg);
}
.right {
  inset: 0 0 auto auto;
  transform-origin: 0 0;
  transform: translate(40%) rotate(45deg);
}

